Checks: >-
  -clang-diagnostic-*,
  modernize-raw-string-literal,
  modernize-use-starts-ends-with,
  modernize-use-std-numbers,
  performance-move-const-arg,
  readability-container-contains,
  readability-container-data-pointer,
  readability-container-size-empty,
  readability-redundant-casting,
  readability-redundant-member-init,
  readability-static-definition-in-anonymous-namespace,
  readability-use-std-min-max,
